.block {
    border-radius: 15px;
    display: inline-block;
    width: 20%;
    padding: 20px;
    border: 1px solid #cef702;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin: 20px;
    position: relative;
    background-color: rgba(217, 255, 0, 0.7);
  }
  
  .block::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 10px;
    width: 90px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px 5px 0px 0px;
    margin-left: 90px;
  }
  
  h2 {
    text-shadow: 1px -1px 0 #fff, -1px 1px 0 #333;
  }
  body {
    background-color: #373737;
  }